/**********************TAG SELECTORS****************/

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5rem;
  font-size: 1.13rem;
  font-weight:500;
  letter-spacing: .05rem;
}

h1 {
 font-size: 3rem;
 text-align:left;
}

a {
  text-decoration: none;
  color:black;
}

a:hover {
  color:#feb1be;
}

h3 {
  font-size: 1.13em;
  font-weight: 700;
  letter-spacing: .08rem;
}

/* Profile */

.profile {
  width:70%;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}


/* Skills */
.skills-section {
  width: 80%;
  padding: 2rem;
  text-align: center;
}

.skill-header {
  text-decoration: underline;
}

.add-skills {
  text-align: left;
}

/* Portfolio */

.drop-buttons {
  text-align:center;
  width:80%;
}

.pro-button {
  background-color: #FFFFFF;
  border-color:black;
  position: relative;
  font-weight:bold;
  font-size:1rem;
  box-shadow: -5px 5px 0 1px #000000;
  width:60%;
  margin-bottom: 2rem;
}


.pro-button:hover {
  color:#feb1be;
  font-weight:900;
  box-shadow: -5px 5px 0 1px #feb1be;
  border-color: gray;
}

.portfolio-section{
  width:80%;
  padding:0;
}

.port-images {
  width:100%;
  padding-bottom:1.5rem;
}

/* Skills */

.skills-section {
  text-align: center;
}

.skills-text{
  padding:1rem 2rem 0 2rem;
}

.add-skills {
   margin-top: 2rem;
}

/* Footer */

.footer{
  width:100%;
  font-family: 'Raleway', sans-serif;
  weight: 500;
  background-color: black;
  padding-right:3.25rem;
  color:white;
  text-align: center;
  font-size:1rem;
  padding-top:1rem;
}

.icons {
  font-size: 1.5rem;
  padding: .50rem;
  margin-bottom: 1rem;
  color:white;
}

.icons:hover {
  color:#FE7E6D;
}


/* RESPONSIVE */

@media screen and (max-width: 600px) {

  .pro-button {
    width:100%;
  }

  .skills-section {
    width: 100%;
    padding: 2rem;
  }

  .pic-container{
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .profile {
    width:100%;
    font-size: 1rem;

  }

  .pro-pic {
    width:200px;
    height:200px;
  }

  .add-skills {
    width: 100%;
  }

}
