/**********************TAG SELECTORS****************/

body {
font-family: 'PT Sans', sans-serif;
line-height: 1.5rem;
font-size: 1.13rem;
font-weight:400;
letter-spacing: 0;
}


hr {
  width: 10%;
  border-top: 5px dotted;
  border-bottom:0;
  border-left:0;
  color: #FE7E6D;
}


h1 {
  font-size: 1.13rem;
  font-weight: 700;
  margin: 0.5rem;

}

h2 {
font-size: 1.13rem;
font-weight: 400;
font-style: italic;
margin:0.5rem;

}

h3{
  font-size: 1.13em;
  font-weight: 700;
}


/* Profile */

.profile {
  margin-bottom: 6.25rem;
}

.profile_pic {
  height:6.25rem;
  width:6.25rem;
  float:left;
  margin-right: 1.56rem;
}

.instagram_link:hover {
  opacity: 0.75;
}


.email_link{
  width: 2rem;
  height: 2rem;
  opacity:1;
}

.email_link:hover{
  opacity:0.75;
}

.linkedin_link {
  width: 2rem;
  height: 2rem;
  opacity:1;
}

.linkedin_link:hover {
  opacity:0.75;
}

/* About */

.about {
  clear:left;
  margin-bottom: 5rem;
}

.content {
  border-spacing: .5rem;
  margin-left: -.5rem;
}

.instagram_link{
  width:2rem;
  height:2rem;
  opacity:1;
}

/* Portfolio */

.drop-buttons {
  text-align:center;
}

.pro-button {
  
  background-color: #FFFFFF;
  border-color:black;
  position: relative;
  font-weight:bold;
  font-size:1rem;
  box-shadow: -5px 5px 0 1px #000000;
}

.pro-button:hover {
  color:#FE7E6D;
  font-weight:900;
  box-shadow: -5px 5px 0 1px #FE7E6D;
  border-color: gray;
}

.portfolio-section{
  width:80%;
  padding:0;
}

.port-images {
  width:100%;
  padding-bottom:1.5rem;
}


/* Footer */

.footer{
  width:100%;
  height:4rem;
  background-color: black;
  padding-right:3.25rem;
  color:white;
  text-align: center;
  font-size:1rem;
  padding-top:1rem;
}







/**********************ID SELECTORS****************/

#rating {
    color: #FE7E6D;
}

