/* Global Tags */

body{
    font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

/* Main Text */

.main-text-wrap {
  padding: 0 4rem 0 4rem;
  margin-top: 4rem;
}

.main-text {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.03rem;
}

/* Buttons */

.drop-buttons {
  font-weight: bolder;
  text-align: center;
  padding: 4rem 0 4rem 0;
  width: 60%;
}

.pro-button{
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  box-shadow: -10px 10px 0 -3px #000;
}

/* Notes */

.note-links {
  text-decoration: underline;
  color: #ff66ff;
  font-size: 1.5rem;
}

.notes-section {
  padding: 0 4rem 0 4rem;
}

.notes-img {
  width: 80%;
}

.notes-text {
  width:100%;
  font-size: 1.5rem;
}

/* Portfolio */

.port-images {
  width: 80%;
  padding-bottom: 1rem;
  text-align: center;
}

.portfolio-section {
  width: 80%;
  padding: 4rem 0 4rem 0;
  text-align: center;
}

/* Contact */

.contact-wrap {
  padding-left: 4rem;
}

.contact-text {
  font-size: 2rem;
}

.social-text {
  position: relative;
  text-align:left;
  padding-left: 15rem;
  font-size:2rem;
}

/* Footer */

.footer {
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.footer-links {
  padding: 0 1rem 0 1rem;
  color: white;
}

.footer-links:hover {
  color: #ff66ff;
}

/* Responsive Break */

@media only screen and (max-width: 600px) {
  .header-image {
    width:100%;
  }

  .pro-button {
    margin-bottom: 1.5rem;
  }

  .drop-buttons {
    width:80%;
  }

  .notes-img {
    width:100%;
    padding-top:3rem;
  }

  .notes-text {
    width:100%;
  }

  .port-images {
    width:100%;
  }

  .portfolio-section {
    width: 100%;
  }

  .main-text-wrap {
    padding: 0 2rem 0 2rem;
  }

  .main-text {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.03rem;
  }
}
